{{!--book-table-row--}}
<tr>
    <td>{{title}}</td>
    <td>{{author}}</td>
    <td>
        <button data-available="{{isAvailable}}" type="button" class="btn btn-success">Available: {{isAvailable}}</button>
    </td>
    <td>{{checkedOutBy}}</td>
</tr>
{{!--/book-table-row--}}

